<ion-header>

  <ion-navbar>
    <ion-title>Scanner</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row class="progress-row" (tap)="updateProgressBar();" align-items-center>
      <ion-col>
        <ion-row>
          <ion-col>
            <p class="progress-context" *ngIf="progressContext.date && progressContext.errorMessage"
               text-center>
              <strong>{{ progressContext.errorMessage }}</strong>
            </p>
          </ion-col>
        </ion-row>
        <progressbar [max]="max" [value]="value" [full]="true"></progressbar>
      </ion-col>
    </ion-row>

    <ion-row class="resultBox {{ state }}">
      <ion-col text-center text-wrap>
        <div *ngIf="state === 'pending'">
          <ion-icon ios="ios-qr-scanner-outline" md="ios-qr-scanner-outline"></ion-icon>
          <p>En attente de scan</p>
        </div>
        <div *ngIf="state === 'loading'">
          <div id="loader">
            <div class="loader block"></div>
            <p>Vérification en cours ...</p>
          </div>
        </div>
        <div *ngIf="state === 'success'">
          <p>Accès autorisé</p>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
          <p *ngIf="scanResponse.scan">{{ scanResponse.personName }}</p>
        </div>
        <div *ngIf="state === 'error'">
          <p>{{ scanResponse.message }}</p>
          <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
          <p *ngIf="scanResponse.scan">{{ scanResponse.personName }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar position="bottom">
    <button ion-button block full large (click)="scan()">
      Scanner un Qr Code
    </button>
  </ion-toolbar>
</ion-footer>
