<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(event)" *ngFor="let event of events">
      <div>
        {{ event.name }}
        <ion-note item-end>
          le {{ event.startAt | date: 'dd/MM/yyyy'}}
          à {{ event.startAt | date: 'H:mm' }}
          <span *ngIf="event.endAt">jusqu'au {{ event.endAt | date: 'dd/MM/yyyy H:mm' }}</span>
        </ion-note>
      </div>
    </button>
  </ion-list>
</ion-content>
